doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Site Speed Tools
    link(rel="stylesheet" href="styles.css")
  body
    header
      h1.site-title Site Speed Tools
      p.site-description Veteran of the WordPress performance space, Leon brings you the Site Speed Tools WordPress plugin!
      a.btn(href="#") Analyze and Fix Site Speed
    section.features
      h2 Features
      ul
        li Analyze and fix the most critical issues slowing down your WordPress site
        li Get actionable recommendations to improve site speed
        li Monitor site speed and performance over time
    section.cta
      h2 Get Started
      a.btn(href="#") Install Site Speed Tools WordPress plugin
      p Or download from our GitHub repository
      ul.social-icons
        li
          a(href="#")
            i.fab.fa-github
        li
          a(href="#")
            i.fab.fa-twitter
        li
          a(href="#")
            i.fab.fa-wordpress
    footer
      p Contact us at
      a(href="mailto:support@sitespeedtools.com") support@sitespeedtools.com

