doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Site Speed Tools
    meta(name="description" content="Veteran of the WordPress performance space, Leon brings you the Site Speed Tools WordPress plugin!")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    script(type="module")
      import { apply } from '@twind/core';
      import { styles } from './styles.js';
      apply(styles);
  body
    main
      h1 Site Speed Tools
      p Veteran of the WordPress performance space, Leon brings you the Site Speed Tools WordPress plugin!
      a(href="#") Analyse and fix the most critical issues slowing down your WordPress site with Site Speed Tools
      ul.social-links
        li
          a(href="#")
            i.fab.fa-github
        li
          a(href="#")
            i.fab.fa-twitter
        li
          a(href="#")
            i.fab.fa-wordpress
    footer
      p Contact us: support@sitespeedtools.com

